@import "reset.scss";

$color-main: rgb(80, 52, 45);
$color-alt: rgb(31, 47, 11);

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: 'Arvo', serif;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 768px) {
        padding: 0 5% 0 5%;
    }
}

header {
    padding: 0.5em;
    margin: 0 0 1em 0;
    background-color: $color-main;
    color: #fff;

    .banner {
        margin: 0;
        line-height: 2em;
        font-size: 145%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        max-width: 98%;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .panel {
        flex: 1;
        padding: 0;
        border: solid 1px $color-main;
        margin: 1em;
        width: 100%;
        flex-basis: 100%;

        @media screen and (min-width: 768px) {
            width: auto;
            flex-basis: 45%;
        }

        .header {
            background-color: $color-alt;
            color: #fff;
            font-weight: bold;
            font-size: 115%;
            padding: 1em;
            margin: 0;
        }

        .body {
            padding: 1em;
        }
    }
}

footer {
    border-top: solid 1px #333;
    color: $color-alt;
    line-height: 1.25em;
    padding: 1em;
    font-size: 90%;
    margin-top: 2.5em;
}
